* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: roboto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form {
    padding: 6px;
    width: 400px;
    min-width: 200px;
}

#form p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.form-container {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.167);
}

#btn {
    padding: 6px;
    margin-top: 10px;
    width: 100%;
}

.hide {
    display: none;
}

.success {
    background-color: rgb(77, 224, 77);
}

.failure {
    background-color: rgb(232, 74, 74);
}

#msg-container {
    text-align: center;
    padding: 4px;
}

#states {
    border-top-style: hidden;
    border-right-style: hidden;
    width: 100%;
    padding: 6px;
    outline: none;
    background-color: transparent;
    border-left-style: hidden;
    border-bottom: solid black 2px;
    font-size: 16px;
}

.results-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    height: 225px;
    margin: 8px;
    background: linear-gradient( to top, rgba(72, 71, 71, 0.754) 0%, rgba(44, 43, 44, 0.254) 84%, gray 20%, rgba(171, 167, 167, 0.612) 100%);
    border-radius: 12px;
    padding: 6px;
}

.card h2 {
    text-align: center;
    margin-bottom: 12px;
}

.card p {
    margin: 4px;
}

.card:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

@media (max-width: 810px) {
    .link-container a {
        height: 49.5px; 
       
    }
    .link-container {
        bottom: -12px
    }
}